# node_modules
node_modules/

# Директории с примерами и тестами
examples/
test/

# Лог файлы
*.log


# Файлы операционной системы
.DS_Store

# Файлы редакторов и IDE
.vscode/
.idea/

# Файлы с настройками пакетов, которые не нужны для проекта
*.env